In [ ]:
import numpy as np #for Data Analysis
import pandas as pd #for scientific computation

In [ ]:
from google.colab import drive
drive.mount('/content/grive')

Mounted at /content/grive

In [ ]:
df=pd.read_csv('/content/grive/My Drive/amazon_ratings_reviews.csv')

In [ ]:
df.head()

        Ratings                                      Reviews
0    5 out of 5                             Awesome product.
1  4.3 out of 5                   Impressive. Almost perfect
2  3.9 out of 5                                Huge discount
3    4 out of 5             Accessories not available in box
4  3.8 out of 5  Not working also visited hp service centere

In [ ]:
df['Ratings'].replace(['4.3 out of 5','3.9 out of 5','3.8 out of 5'],['4 out of 5','4 out of 5','4 out of 5'], inplace = True)

In [ ]:
df['Ratings'].replace(['3.6 out of 5','3.3 out of 5','4.1 out of 5'],['4 out of 5','3 out of 5','4 out of 5'], inplace = True)

In [ ]:
df['Ratings'].replace(['4.2 out of 5','3.7 out of 5','4.5 out of 5','4.4 out of 5'],['4 out of 5','4 out of 5','5 out of 5','4 out of 5'], inplace = True)

In [ ]:
df.head()

      Ratings                                      Reviews
0  5 out of 5                             Awesome product.
1  4 out of 5                   Impressive. Almost perfect
2  4 out of 5                                Huge discount
3  4 out of 5             Accessories not available in box
4  4 out of 5  Not working also visited hp service centere

In [ ]:
df['Ratings'].value_counts()

4 out of 5    16
3 out of 5     3
5 out of 5     2
NO rating      2
Name: Ratings, dtype: int64

In [ ]:
pip install git+https://github.com/laxmimerit/preprocess_kgptalkie.git

Collecting git+https://github.com/laxmimerit/preprocess_kgptalkie.git
  Cloning https://github.com/laxmimerit/preprocess_kgptalkie.git to /tmp/pip-req-build-24xebrzz
  Running command git clone -q https://github.com/laxmimerit/preprocess_kgptalkie.git /tmp/pip-req-build-24xebrzz
Building wheels for collected packages: preprocess-kgptalkie
  Building wheel for preprocess-kgptalkie (setup.py) ... done
  Created wheel for preprocess-kgptalkie: filename=preprocess_kgptalkie-0.1.3-cp37-none-any.whl size=11759 sha256=7cc1b0b8b2f3ef0a6aa14afbad5755d0c0ff9fee976ddd2a5ff441ae8f6182b7
  Stored in directory: /tmp/pip-ephem-wheel-cache-7e8h0op0/wheels/a8/18/22/90afa4bd43247fb9a75b710a4a3fcd94966c022ce9e3c7d0a6
Successfully built preprocess-kgptalkie
Installing collected packages: preprocess-kgptalkie
Successfully installed preprocess-kgptalkie-0.1.3

In [ ]:
import preprocess_kgptalkie as ps
import re

In [ ]:
def get_clean(x):
    x = str(x).lower().replace('\\', '').replace('_', ' ')
    x = ps.cont_exp(x)
    x = ps.remove_emails(x)
    x = ps.remove_urls(x)
    x = ps.remove_html_tags(x)
    x = ps.remove_accented_chars(x)
    x = ps.remove_special_chars(x)
    x = re.sub("(.)\\1{2,}", "\\1", x)
    return x

In [ ]:
df['Reviews'] = df['Reviews'].apply(lambda x : get_clean(x))

In [ ]:
df.head()

      Ratings                                            Reviews
0  5 out of 5                                    awesome product
1  4 out of 5                          impressive almost perfect
2  4 out of 5                                      huge discount
3  4 out of 5                   accessories not available in box
4  4 out of 5  not working also visited horsepower service ce...

In [ ]:
# TFIDF and LinearSVC Algorithm
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

In [ ]:
tfidf = TfidfVectorizer(max_features=5, ngram_range=(1,3),analyzer='char')

In [ ]:
x=tfidf.fit_transform(df['Reviews'])
y=df['Ratings']

In [ ]:
x.shape, y.shape

((23, 5), (23,))

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [ ]:
x_train.shape

(18, 5)

In [ ]:
clf=LinearSVC(C=10,class_weight='balanced')
clf.fit(x_train, y_train)

LinearSVC(C=10, class_weight='balanced', dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [ ]:
y_pred=clf.predict(x_test)

In [ ]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

  3 out of 5       0.00      0.00      0.00         1
  4 out of 5       0.50      0.50      0.50         2
  5 out of 5       0.00      0.00      0.00         1
   NO rating       0.50      1.00      0.67         1

    accuracy                           0.40         5
   macro avg       0.25      0.38      0.29         5
weighted avg       0.30      0.40      0.33         5

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
x='this product is realy good. i like it'
x=get_clean(x)
vec=tfidf.transform([x])
clf.predict(vec)

array(['4 out of 5'], dtype=object)