In [2]:
import numpy as np #for Data Analysis
import pandas as pd #for scientific computation

In [3]:
from google.colab import drive
drive.mount('/content/grive')

Mounted at /content/grive

In [4]:
df=pd.read_csv('/content/grive/My Drive/amazon_ratings_reviews2.csv')

In [11]:
df.head()

      Ratings                          Reviews
0  5 out of 5  Samsung Z Fold 2 is Masterpiece
1  4 out of 5                  1+ month review
2  4 out of 5           DONT BUY THIS MOBILE .
3  4 out of 5             Don't buy this phone
4  4 out of 5                      WARNING !!!

In [6]:
df['Ratings'].replace(['4.5 out of 5','4.2 out of 5','4.3 out of 5'],['5 out of 5','4 out of 5','4 out of 5'], inplace = True)

In [7]:
df['Ratings'].replace(['3.7 out of 5','3.1 out of 5','4.1 out of 5'],['4 out of 5','3 out of 5','4 out of 5'], inplace = True)

In [8]:
df['Ratings'].replace(['4.4 out of 5','3.4 out of 5','3.9 out of 5'],['4 out of 5','4 out of 5','4 out of 5'], inplace = True)

In [12]:
df.head()

      Ratings                          Reviews
0  5 out of 5  Samsung Z Fold 2 is Masterpiece
1  4 out of 5                  1+ month review
2  4 out of 5           DONT BUY THIS MOBILE .
3  4 out of 5             Don't buy this phone
4  4 out of 5                      WARNING !!!

In [13]:
df['Ratings'].value_counts()

4 out of 5    22
5 out of 5     2
NO rating      1
3 out of 5     1
Name: Ratings, dtype: int64

In [15]:
import preprocess_kgptalkie as ps
import re

In [16]:
def get_clean(x):
    x = str(x).lower().replace('\\', '').replace('_', ' ')
    x = ps.cont_exp(x)
    x = ps.remove_emails(x)
    x = ps.remove_urls(x)
    x = ps.remove_html_tags(x)
    x = ps.remove_accented_chars(x)
    x = ps.remove_special_chars(x)
    x = re.sub("(.)\\1{2,}", "\\1", x)
    return x

In [17]:
df['Reviews'] = df['Reviews'].apply(lambda x : get_clean(x))

In [18]:
df.head()

      Ratings                          Reviews
0  5 out of 5  samsung z fold 2 is masterpiece
1  4 out of 5                   1 month review
2  4 out of 5             dont buy this mobile
3  4 out of 5            do not buy this phone
4  4 out of 5                          warning

In [19]:
# TFIDF and LinearSVC Algorithm
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

In [20]:
tfidf = TfidfVectorizer(max_features=5, ngram_range=(1,3),analyzer='char')

In [21]:
x=tfidf.fit_transform(df['Reviews'])
y=df['Ratings']

In [22]:
x.shape, y.shape

((26, 5), (26,))

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [25]:
x_train.shape

(20, 5)

In [26]:
clf=LinearSVC(C=10,class_weight='balanced')
clf.fit(x_train, y_train)

LinearSVC(C=10, class_weight='balanced', dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [27]:
y_pred=clf.predict(x_test)

In [28]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

  3 out of 5       0.00      0.00      0.00         1
  4 out of 5       0.67      1.00      0.80         4
  5 out of 5       0.00      0.00      0.00         1

    accuracy                           0.67         6
   macro avg       0.22      0.33      0.27         6
weighted avg       0.44      0.67      0.53         6

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [29]:
x='this product is realy good. i like it'
x=get_clean(x)
vec=tfidf.transform([x])
clf.predict(vec)

array(['4 out of 5'], dtype=object)