In [31]:
import numpy as np #for Data Analysis
import pandas as pd #for scientific computation

In [32]:
from google.colab import drive
drive.mount('/content/grive')

Drive already mounted at /content/grive; to attempt to forcibly remount, call drive.mount("/content/grive", force_remount=True).

In [34]:
df=pd.read_csv('/content/grive/My Drive/amazon_ratings_reviews6.csv')

In [60]:
df.head()

      Ratings                                            Reviews
0  4 out of 5                                              m7 m5
1  5 out of 5                                      not satisfied
2  4 out of 5     a very good monitor for programming office use
3  5 out of 5  there is backlight glow not leaking normal for...
4  4 out of 5                this is not a full hd 1080p monitor

In [37]:
df['Ratings'].replace(['4.1 out of 5','4.3 out of 5','4.4 out of 5'],['4 out of 5','4 out of 5','5 out of 5'], inplace = True)

In [38]:
df['Ratings'].replace(['3.6  out of 5','4.5 out of 5'],['4 out of 5','5 out of 5'], inplace = True)

In [9]:
df['Ratings'].replace(['3.7 out of 5','4.3 out of 5','3.9 out of 5'],['4 out of 5','4 out of 5','4 out of 5'], inplace = True)

In [39]:
df['Ratings'].replace(['2.9 out of 5','4.9 out of 5','3.9 out of 5'],['3 out of 5','5 out of 5','4 out of 5'], inplace = True)

In [41]:
df['Ratings'].replace(['3.6 out of 5','4.2 out of 5','3.8 out of 5'],['4 out of 5','4 out of 5','4 out of 5'], inplace = True)

In [61]:
df.head()

      Ratings                                            Reviews
0  4 out of 5                                              m7 m5
1  5 out of 5                                      not satisfied
2  4 out of 5     a very good monitor for programming office use
3  5 out of 5  there is backlight glow not leaking normal for...
4  4 out of 5                this is not a full hd 1080p monitor

In [62]:
df['Ratings'].value_counts()

4 out of 5    13
5 out of 5    11
3 out of 5     2
NO rating      1
Name: Ratings, dtype: int64

In [45]:
import preprocess_kgptalkie as ps
import re

In [46]:
def get_clean(x):
    x = str(x).lower().replace('\\', '').replace('_', ' ')
    x = ps.cont_exp(x)
    x = ps.remove_emails(x)
    x = ps.remove_urls(x)
    x = ps.remove_html_tags(x)
    x = ps.remove_accented_chars(x)
    x = ps.remove_special_chars(x)
    x = re.sub("(.)\\1{2,}", "\\1", x)
    return x

In [47]:
df['Reviews'] = df['Reviews'].apply(lambda x : get_clean(x))

In [48]:
df.head()

      Ratings                                            Reviews
0  4 out of 5                                              m7 m5
1  5 out of 5                                      not satisfied
2  4 out of 5     a very good monitor for programming office use
3  5 out of 5  there is backlight glow not leaking normal for...
4  4 out of 5                this is not a full hd 1080p monitor

In [49]:
# TFIDF and LinearSVC Algorithm
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import classification_report

In [50]:
tfidf = TfidfVectorizer(max_features=5, ngram_range=(1,3),analyzer='char')

In [51]:
x=tfidf.fit_transform(df['Reviews'])
y=df['Ratings']

In [52]:
x.shape, y.shape

((27, 5), (27,))

In [53]:
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2, random_state=0)

In [54]:
x_train.shape

(21, 5)

In [56]:
clf=LinearSVC(C=10,class_weight='balanced')
clf.fit(x_train, y_train)

LinearSVC(C=10, class_weight='balanced', dual=True, fit_intercept=True,
          intercept_scaling=1, loss='squared_hinge', max_iter=1000,
          multi_class='ovr', penalty='l2', random_state=None, tol=0.0001,
          verbose=0)

In [57]:
y_pred=clf.predict(x_test)

In [58]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

  4 out of 5       1.00      0.20      0.33         5
  5 out of 5       0.20      1.00      0.33         1

    accuracy                           0.33         6
   macro avg       0.60      0.60      0.33         6
weighted avg       0.87      0.33      0.33         6

In [59]:
x='this product is realy good. i like it'
x=get_clean(x)
vec=tfidf.transform([x])
clf.predict(vec)

array(['4 out of 5'], dtype=object)