In [1]:
# Importing Libraries
import selenium
import pandas as pd
import time
from bs4 import BeautifulSoup

# Importing selenium webdriver 
from selenium import webdriver

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

#Importing requests
import requests

# importing regex
import re

In [2]:
# Activating the chrome browser
driver = webdriver.Chrome(r'E:/chromedriver')

In [3]:
# Opening the homepage of Amazon.in
driver.get('https://www.amazon.in/')
# Asking the user to input the keywords he/she wants to search
user_inp = input('Enter the product you want to search : ')

Enter the product you want to search : laptops

In [4]:
search_bar = driver.find_element_by_id("twotabsearchtextbox")    # Locating searc_bar by id
search_bar.clear()                                               # clearing search_bar
search_bar.send_keys(user_inp)                                   # sending user input to search bar
search_button = driver.find_element_by_xpath('//div[@class="nav-search-submit nav-sprite"]/span/input')       # Locating search_button by xpath
search_button.click()

In [5]:
#create an empty list 
Ratings=[]
Reviews=[]

In [8]:
urls=driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']")
UR=[]
for i in urls:
    UR.append(i.get_attribute('href'))
for url in UR:
    driver.get(url)
    try:
        rate=driver.find_element_by_xpath("//span[@id='acrCustomerReviewText']")
        rate.click()
        rating=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']")
        Ratings.append(rating.text)
        review=driver.find_element_by_xpath("//a[@class='a-size-base a-link-normal review-title a-color-base review-title-content a-text-bold']")
        Reviews.append(review.text)
    except NoSuchElementException   as e:
        Ratings.append("NO rating")
        Reviews.append("NO rating")

In [9]:
#checking the length of each list
print(len(Ratings))
print(len(Reviews))

23
23

In [10]:
import pandas as pd
amazon=pd.DataFrame({})
amazon['Ratings']=Ratings[0:60]
amazon['Reviews']=Reviews[0:60]

In [11]:
amazon

         Ratings                                            Reviews
0     5 out of 5                                   Awesome product.
1   4.3 out of 5                         Impressive. Almost perfect
2   3.9 out of 5                                      Huge discount
3     4 out of 5                   Accessories not available in box
4   3.8 out of 5        Not working also visited hp service centere
5     4 out of 5                  Premium machine for widows lovers
6   3.6 out of 5                                        Bad product
7   3.3 out of 5                                      Honest review
8   4.1 out of 5                                    V. Nice product
9   3.6 out of 5                 Light weight and good battery time
10  3.8 out of 5  A lot of information mentioned is wrong, it's ...
11     NO rating                                          NO rating
12  3.8 out of 5                                   Best laptop ever
13  4.2 out of 5  Ryzen 3 3250U much better than core i3 10th ge...
14  3.3 out of 5                                First Impression !!
15  3.3 out of 5                Cannot even operate basic softwares
16     NO rating                                          NO rating
17  3.9 out of 5                In-depth review + update at 60 days
18    4 out of 5                    Laptop crashed while setting up
19  3.7 out of 5                                    Not as expected
20    4 out of 5                                       Good product
21  4.5 out of 5                                  Deal of the year!
22  4.4 out of 5                                       Worst Laptop

In [12]:
amazon.to_csv('amazon_ratings_reviews.csv', index = False)

In [13]:
import numpy as np
import pandas as pd

In [14]:
df=pd.read_csv('amazon_ratings_reviews.csv')

In [29]:
df.head()

        Ratings                                      Reviews
0    5 out of 5                             Awesome product.
1  4.3 out of 5                   Impressive. Almost perfect
2  3.9 out of 5                                Huge discount
3    4 out of 5             Accessories not available in box
4  3.8 out of 5  Not working also visited hp service centere

In [30]:
df['Ratings'].replace(['4.3 out of 5','3.9 out of 5','3.8 out of 5'],['4 out of 5','4 out of 5','4 out of 5'], inplace = True)

In [32]:
df['Ratings'].replace(['3.6 out of 5','3.3 out of 5','4.1 out of 5'],['4 out of 5','3 out of 5','4 out of 5'], inplace = True)

In [34]:
df['Ratings'].replace(['4.2 out of 5','3.7 out of 5','4.5 out of 5','4.4 out of 5'],['4 out of 5','4 out of 5','5 out of 5','4 out of 5'], inplace = True)

In [36]:
df.head()

      Ratings                                      Reviews
0  5 out of 5                             Awesome product.
1  4 out of 5                   Impressive. Almost perfect
2  4 out of 5                                Huge discount
3  4 out of 5             Accessories not available in box
4  4 out of 5  Not working also visited hp service centere

In [38]:
df['Ratings'].value_counts()

4 out of 5    16
3 out of 5     3
5 out of 5     2
NO rating      2
Name: Ratings, dtype: int64